@tailwind base;
@tailwind components;
@tailwind utilities;

.bgimage {
  background-image: url("http://192.168.1.222:8123/local/ha-nextjs-dashboard/gold-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#apexchartsenergy-graph .apexcharts-tooltip {
  color: #ffffff;
}

#apexchartsenergy-graph .apexcharts-tooltip .apexcharts-tooltip-series-group.active {
  background: #ffffff !important;
}